<h1><%= title %></h1>
<ul class="sidebar-choices">
  <% _(buttonChoices).each(function (text, className) { %>
    <button class="<%= className %>"><%= text %></button>
  <% }); %>
</ul>

<div class="sidebar-content">
  <%= listContent %>
</div>